{% load l10n %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% for item in comments %}
{% if item.comment.level == 0 %}
<li class="media">{% else %}<div class="media">{% endif %}
  <a name="c{{ item.comment.id }}"></a>
  <div class="media-left">{{ item.comment.user_email|xtd_comment_gravatar }}</div>
  <div class="media-body">
    <div class="comment">
      <h6 class="media-heading">
        {{ item.comment.submit_date|localize }}&nbsp;-&nbsp;{% if item.comment.url and not item.comment.is_removed %}<a href="{{ item.comment.url }}" target="_new">{% endif %}{{ item.comment.name }}{% if item.comment.url %}</a>{% endif %}{% if item.comment.user and item.comment.user|has_permission:"django_comments.can_moderate" %}&nbsp;<span class="label label-default">{% trans "moderator" %}</span>{% endif %}&nbsp;&nbsp;<a class="permalink" title="{% trans 'comment permalink' %}" href="{% get_comment_permalink item.comment %}">¶</a>
        {% if not item.comment.is_removed %}
        <div class="pull-right">
          {% if allow_flagging and item.flagged %}
          <span class="fa fa-flag alert" title="{% trans 'comment flagged' %}"></span>
          {% elif allow_flagging %}
          <a class="mutedlink" href="{% url 'comments-flag' item.comment.pk %}">
            <span class="fa fa-flag" title="{% trans 'flag comment' %}"></span></a>
          {% endif %}
          {% if perms.comments.can_moderate %}
          <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}"><span class="fa fa-trash" title="{% trans 'remove comment' %}"></span></a>
          {% if item.flagged_count %}
          <span class="label label-warning" title="{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}</span>
          {% endif %}
          {% endif %}
        </div>
        {% endif %}
      </h6>
      {% if item.comment.is_removed %}
        <p class="text-muted"><em>{% trans "This comment has been removed." %}</em></p>
        {% else %}
        <div class="content">
          {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
        </div>
        {% if allow_feedback %}
        {% include "includes/django_comments_xtd/user_feedback.html" %}
        {% endif %}
        {% if item.comment.allow_thread and not item.comment.is_removed %}
        {% if allow_feedback %}&nbsp;&nbsp;<span class="text-muted">&bull;</span>&nbsp;&nbsp;{% endif %}<a class="small mutedlink" href="{{ item.comment.get_reply_url }}">{% trans "Reply" %}</a>
        {% endif %}
      {% endif %}
    </div>
    {% if not item.comment.is_removed and item.children %}
    <div class="media">
      <ul>
      {% render_xtdcomment_tree with comments=item.children %}
      </ul>
    </div>
    {% endif %}
  </div>
{% if item.comment.level == 0 %}
</li>{% else %}</div>{% endif %}
{% endfor %}
