{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Admin Dashboard</a></li>
<li><i class="fa fa-university"></i>&nbsp;Add students to a course</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Add students to {{course.name}}</h3>
    <form enctype="multipart/form-data" action="{% url 'add_students_course' course.id %}" method="post">
      {% csrf_token %}
      {{form.as_ul}}
      <input type="submit" class="button radius" value="Add students">
    </form>
  </div>
</div>
{% endblock %}
