{% extends "experiment_creator/base.html" %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <p>Only University of Rochester GMail accounts can be used to sign in.</p>
  </div>
{% endblock content%}
