{% extends "experiment_creator/base.html" %}
{% load staticfiles pipeline %}

{% block site_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_design.css' %}" />
{% endblock site_css %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
<li class="current"><i class="fa fa-pencil"></i>&nbsp;Experiment Design</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Submit Experiment Design</h3>
      {% if experiment.stimulidesign.status == 'APP' %}
          <p style="color: red; font-weight: bold; font-size: larger;">Note: revising an approved design requires fresh approval</p>
      {% endif %}
  </div>
</div>

<div class="grid-x">
  <div class="large-12 cell">
    <h4>Experiment Proposal</h4>
    <textarea name="proposal"></textarea>
  </div>
</div>

<div class="grid-x">
  <div class="large-12 cell">
    <form v-on:submit.prevent="onSubmit" action="{% url 'get_set_design' experiment_id=experiment.id %}">
      {% csrf_token %}
      <div class="large-12 cell">
        <h4>Basic Design</h4>
        <div id='container'>
            <div class="grid-x">
                <div class="messages large-6 cell end" id="errorlist">
                    <vue-alert v-for="(alert, index) in alerts"
                               v-bind:key="alert.message"
                               v-bind:message="alert.message"
                               v-bind:type="alert.type"
                               v-on:remove="alerts.splice(index, 1)">
                    </vue-alert>
                </div>
            </div>
            <section>
                <label for="listcount">Experiment Name</label>
                <input class='new-factor' v-on:keydown='inputKeypress' id="exname" placeholder='Experiment name' v-model="exname" autofocus>
            </section>
            <section>
                <label for="participants">Number of participants</label>
                <input type="number" min="0" class='new-factor' v-on:keydown='inputKeypress' id="participants" placeholder='Number of participants' v-model="participants" autofocus>
            </section>
            <section>
                <label for="listcount">Number of critical items (Usually the same as number of critical items per list)</label>
                <input type="number" min="0" class='new-factor' v-on:keydown='inputKeypress' v-on:blur='checkCounts' id="listcount" placeholder='Number of list items' v-model="trial_count" autofocus>
            </section>
            <section>
                <label for="fillercount">Number of filler items (Usually the same as number of filler items per list)</label>
                <input type="number" min="0" class='new-factor' v-on:keydown='inputKeypress' v-on:blur='checkCounts' id="fillercount" placeholder='Number of filler items' v-model="filler_count" autofocus>
            </section>
            <hr/>
            <h4>Manipulations</h4>
            <p>Hover over any manipulation or level to to delete it with the <span style="color:red;font-size: 22px;">&#xd7;</span>.</p>
            <p>You can double click any manipulation or level text to edit its name.</p>
            <header>
                <input class='new-factor' v-on:keydown='inputKeypress' v-on:change='createManipulation($event)' placeholder='Add a manipulation to the design'>
            </header>
            <section class='main'>
                <ul class='factor-list'>
                    <manipulations v-for="(manip, index) in manipulations"
                                   v-bind:key="manip.name"
                                   v-bind:name="manip.name"
                                   v-bind:levels="manip.items"
                                   v-bind:index="index"
                                   v-on:remove-manipulation="removeManipulation(index)">
                    </manipulations>
                </ul>
            </section>
            <levels-footer v-bind:trial_count="trial_count"
                           v-bind:filler_count="filler_count"
                           v-bind:manipulations="manipulations"
                           v-bind:participants="participants">
            </levels-footer>
        </div>
      </div>
      <div>
        <a href="{{experiment.get_absolute_url}}" rel="prev" class="button hidden">Back to experiment</a>
        <button type="submit" class="button">Save</button>
        <a href="{{request.META.HTTP_REFERER}}" class="button alert">Cancel</a>
        <a href="{% url 'request_design_approval' experiment_id=experiment.id %}" class="button success disabled">Request Approval</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block site_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
{% if debug %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js" integrity="sha256-mbLkHeR3UG9BrG6xkSznl679LhGecGYbw0fTF5KacNg=" crossorigin="anonymous"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" integrity="sha256-GdIrqezgbUYuDyvVTXY2aB7O82eUby3pbR9Jb/e9ve0=" crossorigin="anonymous"></script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.7.3/ckeditor.js" integrity="sha256-hl2fqEpO9CaLAKVbwANGmT10OokWjohjNubCepZW4bw=" crossorigin="anonymous"></script>
<script type="text/javascript">
  CKEDITOR.replace('proposal', {
      customConfig: "{% static 'js/ckeditor_settings/config.js' %}"
  });
</script>
    <!-- there should be some JavaScript here -->
{% javascript 'create_design' %}
    <!-- and it should end here -->
{% endblock site_js %}
