{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li>Create Course</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Create new course</h3>
    <form enctype="multipart/form-data" action="{% url 'create_course' %}" method="post">
      {% csrf_token %}
      {{form.as_ul}}
      <input type="submit" class="button radius" value="Create Course">
    </form>
  </div>
</div>
{% endblock content %}
