{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li class="current"><i class="fa fa-users"></i>&nbsp;Create group</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Create group for {{course.name}} ({{course.term}} {{course.year}})</h3>
    <p>Group name should describe project, e.g. "Pronoun Processing", "Garden Pathing"</p>
    <form enctype="multipart/form-data" action="{% url 'create_group' year=course.year term=course.term course_slug=course.slug %}" method="post">
      {% csrf_token %}
      {{form.as_ul}}
      <input type="submit" class="button radius" value="Create Group">
    </form>
  </div>
</div>
{% endblock content %}
