{% extends "experiment_creator/base.html" %}
{% load activity_tags experiment_creator_tags %}

{% block breadcrumbs %}
<li class="current"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  {% if user.is_authenticated %}
  <div class="large-6 cell">
    <div class="projects">
      <h3>Current Projects</h3>
      {% projects_for_user user %}
    </div>
  </div>
  <div class="large-6 cell">
    <div>
      <h3>Notifications</h3>
      <h4>My Actions</h4>
      <ul>
      {% activity_stream 'actor' user %}
        {% for action in stream|slice:":5" %}
          <li>{% display_action action %}</li>
        {% endfor %}
      </ul>
      <h4>Group Actions</h4>
      {% for name, stream in group_stream.items %}
      <ul><h5>Actions for {{ name }}</h5>
      {% for action in stream|slice:":5" %}
        <li>{% display_action action %}</li>
      {% empty %}
        <li>No actions for this group.</li>
      {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
