{% extends "experiment_creator/base.html" %}
{% load filer_tags comments comments_xtd experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="current">Review Stimuli Design</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    {% render_proposal design %}

    <h4>Feedback</h4>
    {% if design %}
    {% get_comment_count for design as design_comment_count %}
    <p>{{design_comment_count}} comment{{design_comment_count|pluralize}} <a href="{% url 'design_feedback' target_id=design.id %}"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Add feedback</a></p>
    <ul class="media-list">
        {% render_xtdcomment_tree for design allow_flagging %}
    </ul>
    {% else %}
    <p>0 comments</p>
    {% endif %}

    {% include "experiment_creator/design_errors.html" %}

    <a href="{% url 'admin_dashboard' %}" class="button back tiny radius">Back to Admin Dashboard</a>
    {% if design.status == 'APP' %}
    <a href="{% url 'reject_design' target_id=design.id %}" class="button alert tiny radius">Withdraw Approval</a>
    {% else %}
    <a href="{% url 'approve_design' target_id=design.id %}" class="button success tiny radius">Approve</a>
    {% endif %}
    <a href="{% url 'revision_design' target_id=design.id %}" class="button alert tiny radius">Request Revision</a>
  </div>
</div>
{% endblock content %}
