{% with errors=design.errors %}
    <p>Your most recent design specification had <span style="color: red;">{{ errors.error_count }} errors&nbsp;<i class="fa fa-times-circle" style="color: red;"></i></span>,
        <span style="color: orange;">{{ errors.warning_count }} warnings&nbsp;<i class="fa fa-exclamation-triangle" style="color: orange"></i></span>,
        and <span style="color: green;">{{ errors.pass_count }} passed&nbsp;<i class="fa fa-check-square" style="color: green;"></i></span>
        tests out of a total of {{ errors.test_count }} tests.</p>
    <p>All errors must be fixed before requesting approval. Contact a member of the teaching staff about warnings.</p>
    <ul class="fa-ul">
        {% for test_fail in errors.errors %}
            <li><i class="fa-li fa fa-times-circle" style="color: red;"></i>{{ test_fail.test }}
                <dl>
                    <dt>Message</dt><dd>{{ test_fail.message }}</dd>
                    {% if test_fail.problems %}
                        <dt>Problems</dt>
                        {% for problem in test_fail.problems %}
                            {# FIXME: display this better #}
                            <dd>{{ problem }}</dd>
                        {% endfor %}
                    {% endif %}
                </dl>
            </li>
        {% endfor %}
    </ul>
    <ul class="fa-ul">
        {% for test_warn in errors.warnings %}
            <li><i class="fa-li fa fa-exclamation-triangle" style="color: orange"></i>{{ test_warn.test }}
                <dl>
                    <dt>Message</dt><dd>{{ test_warn.message }}</dd>
                    {% if test_warn.problems %}
                        <dt>Problems</dt>
                        {% for problem in test_warn.problems %}
                            <dd>{{ problem }}</dd>
                        {% endfor %}
                    {% endif %}
                </dl>
            </li>
        {% endfor %}
    </ul>
    <ul class="fa-ul">
        {% for test_pass in errors.passes %}
            <li><i class="fa-li fa fa-check-square" style="color: green;"></i>{{ test_pass.test }}</li>
        {% endfor %}
    </ul>
{% endwith %}
