{% extends "experiment_creator/base.html" %}
{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-envelope-o"></i>&nbsp;Email {{group.name}}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Email {{group.name}}</h3>
    <div class="grid-x small-up-1 medium-up-3 large-up-4">
      {% with students=group.get_members%}
      {% if students|length_is:"0"%}
      <p style="font-size: large; color:red;">Warning! This group has no members!</p>
      {% else %}
      <p>Emailing {{students|length}} student{{students|pluralize}}:</p>
      {% endif %}
      {% for s in students|dictsort:"last_name" %}
      {% render_user s %}
      {% endfor %}
      {% endwith %}
    </div>
    <form enctype="multipart/form-data" action="{% url 'email_group' group_id=group.id %}" method="post">
      {% csrf_token %}
      {{form.as_table}}
      <input type="submit" class="button radius" value="Email Group">
    </form>
  </div>
</div>
{% endblock content %}
