{% extends "experiment_creator/base.html" %}
{% load staticfiles comments comments_xtd filer_tags activity_tags experiment_creator_tags %}

{% block site_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/step_progress.css' %}" />
{% endblock site_css %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a></li>
<li class="current"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell" style="margin-bottom: 2em;">
    <!-- Progress Tracker v2 -->
    <ol class="step_progress" data-steps="7">
        <li>
            <span class="name">Proposal & Design</span>
            <span class="{{ experiment.status|experiment_status:"1"}} badge step">1</span>
        </li>
        <li>
            <span class="name">Stimuli</span>
            <span class="{{ experiment.status|experiment_status:"2"}} badge step">2</span>
        </li>
        <li>
            <span class="name">Testing by Group</span>
            <span class="{{ experiment.status|experiment_status:"3"}} badge step">3</span>
        </li>
        <li>
            <span class="name">Testing by Staff</span>
            <span class="{{ experiment.status|experiment_status:"4"}} badge step">3</span>
        </li>
        <li>
            <span class="name">Final Admin Approval</span>
            <span class="{{ experiment.status|experiment_status:"5"}} badge step">4</span>
        </li>
        <li>
            <span class="name">Collecting Data</span>
            <span class="{{ experiment.status|experiment_status:"6"}} badge step">5</span>
        </li>
        <li>
            <span class="name">Analyzing Data</span>
            <span class="{{ experiment.status|experiment_status:"7"}} badge step">6</span>
        </li>
    </ol>
  </div>
</div>

<div class="grid-x">
    <div class="large-12 cell">
        <div class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <div class="accordion-item {% if experiment.status == 'DES' %}is-active{% endif %}" data-accordion-item>
                <a href="#" class="accordion-title"><h3>Proposal</h3></a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x">
                      <div class="large-12 cell">
                        {% if design %}
                        {% render_proposal design %}
                        {% endif %}

                        {% include "experiment_creator/design_errors.html" %}

                        {% if design.status != 'REQ' %}
                        <a href="{% url 'create_design' year=course.year term=course.term course_slug=course.slug group_id=group.id slug=experiment.slug %}" class="button tiny radius"><i class="fa fa-pencil"></i>&nbsp;Edit Proposal and Specification</a>
                        {% endif %}

                        <a href="{% url 'design_revalidate' target_id=design.id %}" class="button tiny radius warning"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Request re-validation</a>

                        {% if design.is_approved or user.is_staff %}
                        <a href="{% url 'download_excel_template' experiment_id=experiment.id %}" class="button tiny radius"><i class="fa fa-download"></i>&nbsp;Download Excel Stimuli template</a>
                        {% endif %}
                          {% if design.errors.error_count == 0 or user.is_staff %}
                        <a href="{% url 'request_design_approval' experiment_id=experiment.id %}" class="button success tiny {%if design.status == 'REQ'%}disabled{%endif%}">Request Proposal Approval</a>
                          {% endif %}
                      </div>
                    </div>

                    <div class="grid-x">
                      <div class="large-12 cell">
                        <h4>Feedback on Proposal</h4>
                        {% if design %}
                        {% get_comment_count for design as design_comment_count %}
                        <p>{{design_comment_count}} comment{{design_comment_count|pluralize}} <a href="{% url 'design_feedback' target_id=design.id %}"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Add feedback</a></p>
                        <ul class="media-list">
                            {% render_xtdcomment_tree for design allow_flagging %}
                        </ul>
                        {% else %}
                        <p>0 comments</p>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item {% if experiment.status == 'STM' %}is-active{% endif %}" data-accordion-item>
                <a href="#" class="accordion-title"><h3>Stimulus File</h3></a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x">
                      <div class="large-12 cell">
                        {% if stimuli %}
                        {% render_stimuli stimuli %}
                        {% endif %}

                        {% if design.is_approved %}
                          {% if stimuli.status == 'UPL' or stimuli.status == 'RUP' %}
                          <a href="{% url 'stimuli_revalidate' target_id=stimuli.id %}" class="button tiny radius warning"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Request re-validation</a>
                          <a href="{% url 'upload_stimuli' year=course.year term=course.term course_slug=course.slug group_id=group.id slug=experiment.slug %}" class="button tiny radius"><i class="fa fa-upload"></i>&nbsp;Upload replacement stimulus file</a>
                          <a href="{% url 'request_stimuli_approval' year=course.year term=course.term course_slug=course.slug group_id=group.id slug=experiment.slug %}" class="button tiny radius success">Request stimuli approval</a>
                          {% else %}
                          <a href="{% url 'upload_stimuli' year=course.year term=course.term course_slug=course.slug group_id=group.id slug=experiment.slug %}" class="button tiny radius"><i class="fa fa-upload"></i>&nbsp;Upload completed stimulus file</a>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>

                    <div class="grid-x">
                      <div class="large-6 cell end">
                        <h4>Feedback on Stimuli</h4>
                        {% if stimuli %}
                        {% get_comment_count for stimuli as stim_comment_count %}
                        <p>{{stim_comment_count}} comment{{stim_comment_count|pluralize}} <a href="{% url 'stimuli_feedback' target_id=stimuli.id %}"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Add feedback</a></p>
                        <ul class="media-list">
                            {% render_xtdcomment_tree for stimuli allow_flagging %}
                        </ul>
                        {% else %}
                        <p>0 comments</p>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item {% if experiment.status in 'GTS,STS,FAA,RUN,ANL' %}is-active{% endif %}" data-accordion-item>
                <a href="#" class="accordion-title"><h3>Test your experiment</h3></a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x">
                        <div class="large-12 cell" id="vue_container">
                            {% if runner_experiment %}
                                <p>Status: {{ experiment.get_status_display }}</p>
                                {% render_experiment_test %}
                                <div v-if="all_boxes_checked">
                                    <i class="fa fa-thumbs-o-up" style="color: green;"></i>&nbsp;Clear for staff testing
                                </div>
                                <div v-else>
                                    <i class="fa fa-thumbs-o-down" style="color: red;"></i>&nbsp;Don't request staff approval yet
                                </div>
                                <a href="{% url 'request_staff_testing' experiment_id=experiment.id %}" class="button tiny radius success {% if experiment.status in 'STS,FAA,RUN,ANL' %}disabled{% endif %}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Submit for staff approval</a>
                                <a href="{% url 'withdraw_from_testing' experiment_id=experiment.id %}" class="button tiny radius alert {% if experiment.status in 'RUN,ANL' %}disabled{% endif %}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Withdraw to fix stimuli</a>
                            {% else %}
                                <p>This panel becomes available when your experiment stimuli are approved</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="grid-x">
    <div class="large-12 cell">
        <div class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <div class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><h4>Workflow History</h4></a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x">
                        <div class="large-4 cell">
                            <h3>Proposal History</h3>
                            <ul>
                                {% if design %}
                                    {% activity_stream 'any' design %}
                                    {% for action in stream|slice:":10" %}
                                        <li>{% display_action action %}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                        </div>
                        <div class="large-4 cell">
                            <h3>Stimuli History</h3>
                            <ul>
                                {% if stimuli %}
                                    {% activity_stream 'any' stimuli %}
                                    {% for action in stream|slice:":10" %}
                                        <li>{% display_action action %}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="large-4 cell">
                            <h3>Experiment History</h3>
                            <ul>
                                {% activity_stream 'any' experiment %}
                                {% for action in stream|slice:":10" %}
                                    <li>{% display_action action %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block site_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
    {% if debug %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js" integrity="sha256-l3HI3R1oKGQtQMbtZCCHV1MqEsyoCtiMYku8/Z/TpzA=" crossorigin="anonymous"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js" integrity="sha256-My/5txa/jXTqmFbsnq7aepchRN/3rcZXyATe4x0qXxE=" crossorigin="anonymous"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/experiment_test.js' %}"></script>
{% endblock %}
