{% extends "experiment_creator/base.html" %}
{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% with course=experiment.group.course %}
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
{% endwith %}
<li><a href="{{experiment.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{experiment.group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
    <div class="large-12 cell">
        <ul class="fa-ul">
        <li><i class="fa fa-external-link" aria-hidden="true"></i><a href="https://requester.mturk.com/mturk/manageHITs" target="_blank">&nbsp;Manage MTurk HITs</a></li>
        <li><i class="fa fa-external-link" aria-hidden="true"></i><a href="https://requestersandbox.mturk.com/mturk/manageHITs" target="_blank">&nbsp;Manage Sandbox HITs</a></li>
        </ul>
    </div>
</div>
<div class="grid-x">
    <div class="large-12 cell">
        <h3>Results files</h3>
        <table>
            <thead>
            <tr><td>Filename</td><td>Size</td><td>SHA Hash</td></tr>
            </thead>
            <tbody>
            {% for results in results_files %}
                <tr><td>{{ results.basename }}</td><td>{{ results.size|filesizeformat }}</td><td>{{ results.hash }}</td></tr>
            {% empty %}
                <tr><td colspan="3">No results files yet</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <div class="grid-x">
        <div class="large-12 cell">
            <h3>Converted results files</h3>
            <table>
                <thead>
                <tr><td>Filename</td><td>Size</td><td>SHA Hash</td></tr>
                </thead>
                <tbody>
                {% for converted in converted_files %}
                    <tr><td>{{ converted.basename }}</td><td>{{ converted.size|filesizeformat }}</td><td>{{ converted.hash }}</td></tr>
                {% empty %}
                    <tr><td colspan="3">No converted results files yet</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div class="grid-x">
    <div class="large-12 cell">
        <h3>HIT Batches for "{{ experiment.name }}"</h3>
        <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
        {% for batch in batches|dictsort:"props.CreationTime" %}
            {% with props=batch.props %}
            {% if props.HITStatus != 'Disposed' %}
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Batch #{{ forloop.counter }} - {{ props.CreationTime|datestring_format}} - {{ props.HITStatus }} {% if batch.sandbox %}- (Sandbox){% endif %}</a>
                <div class="accordion-content" data-tab-content>

                    <p>{{ props.HITGroupId|mturk_preview:batch.sandbox }}</p>
                    <table>
                        <tbody>
                            <tr><td>Title</td><td>{{ props.Title }}</td></tr>
                            <tr><td>Description</td><td>{{ props.Description }}</td></tr>
                            <tr><td>Keywords</td><td>{{ props.Keywords }}</td></tr>
                            <tr><td>Reward</td><td>{{ props.FormattedPrice }}</td></tr>
                            <tr><td>Creation Time</td><td>{{ props.CreationTime|datestring_format }}</td></tr>
                            <tr><td>Expiration Time</td><td>{{ props.Expiration|datestring_format }}</td></tr>
                            <tr><td>Assignments Requested</td><td>{{ props.MaxAssignments }}</td></tr>
                            <tr><td>Assignments Pending</td><td>{{ props.NumberOfAssignmentsPending }}</td></tr>
                            <tr><td>Assignments Available</td><td>{{ props.NumberOfAssignmentsAvailable }}</td></tr>
                            <tr><td>HIT ID</td><td>{{ props.HITId }}</td></tr>
                            <tr><td>HIT Type ID</td><td>{{ props.HITTypeId }}</td></tr>
                            <tr><td>HIT Group ID</td><td>{{ props.HITGroupId }}</td></tr>
                            <tr><td>HIT Status</td><td>{{ props.HITStatus }}</td></tr>
                            <tr><td>HIT Review Status</td><td>{{ props.HITReviewStatus }}</td></tr>
                            <tr><td>Sandbox?</td><td>{{ batch.sandbox }}</td></tr>
                        </tbody>
                    </table>
                    {% if props.HITStatus == 'Reviewable' %}
                    <form action="{% url 'download_batches' hitid=props.HITId %}">
                        {% csrf_token %}
                        <button type="submit" class="button">Download Results</button>
                    </form>
                    {% endif %}

                </div>
            </li>
            {% endif %}
            {% endwith %}
        {% empty %}
            <p>No batches currently available.</p>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block site_js %}
    <script type="text/javascript">
        $('form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: $('form').attr('action'),
                method: "GET",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
                },
            }).done(
                function (data, textStatus, jqXHR) {
                    console.log('Download requested: ' + jqXHR.status + ": " + jqXHR.responseText);
                    console.log(data);
                }
            ).fail(
                function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status + ' ' + jqXHR.statusText + ": " + jqXHR.responseText);
                }
            ).always(
                function () {
                    console.log('Request for download complete');
                }
            );
        });
    </script>
{% endblock site_js %}
