{% extends "experiment_creator/base.html" %}
{% load static staticfiles activity_tags experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% with course=experiment.group.course %}
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
{% endwith %}
<li><a href="{{experiment.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{experiment.group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
<li class="current">Staff Testing</li>
{% endblock breadcrumbs %}

{% block content %}
<div id="vue_container" class="grid-x">
    <div class="large-12 cell">
        <p>Status: {{experiment.get_status_display}}</p>
        {% render_experiment_test %}
        <hr/>
        <a href="{% url 'approve_experiment_running' experiment_id=experiment.id %}" class="button tiny radius success {% if experiment.status in 'FAA,RUN,ANL' %}disabled{% endif %}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Approve for running</a>
        <a href="{% url 'reject_experiment_running' experiment_id=experiment.id %}" class="button tiny radius alert {% if experiment.status == 'ANL' %}disabled{% endif %}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Send back to have stimuli corrected</a>
        {% if experiment.status in 'FAA,RUN,ANL' %}
        <a href="{% url 'prerun_check' experiment_id=experiment.id %}" v-bind:class="{button: true, radius: true, success: true, disabled: !all_boxes_checked}">Prepare run</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block site_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
    {% if debug %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js" integrity="sha256-mbLkHeR3UG9BrG6xkSznl679LhGecGYbw0fTF5KacNg=" crossorigin="anonymous"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" integrity="sha256-GdIrqezgbUYuDyvVTXY2aB7O82eUby3pbR9Jb/e9ve0=" crossorigin="anonymous"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/experiment_test.js' %}"></script>
{% endblock %}
