{% extends "experiment_creator/base.html" %}
{% load static staticfiles experiment_creator_tags %}

{% block site_css %}
<style type="text/css">
    .warn { color: red;}
</style>
{% endblock site_css %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
    {% with course=experiment.group.course %}
        <li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
    {% endwith %}
    <li><a href="{{experiment.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{experiment.group.name}}</a></li>
    <li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
    <li class="current">Staff Prepare to run - final check</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
    <div class="large-12 cell" id="vue_container">
        <h3>{{ experiment.name }}</h3>
        <a href="https://requester.mturk.com/account" target="_blank">Amazon Requester Account</a> (prepay for HITs)
        <table>
            <thead>

            </thead>
            <tbody>
                <tr><td>Account balance:</td><td v-bind:class="insufficent_class">${% vue_tag "account_balance" %}</td></tr>
                <tr><td>Requested participants:</td><td>{{ participants }}</td></tr>
                <tr><td>Number of lists:</td><td>{{ list_count }}</td></tr>
                <tr><td>Number of items &amp; fillers:</td><td>{{ total_items }}</td></tr>
                <tr><td>Participants per list:</td><td>{{ participants_per_list|floatformat:2 }}</td></tr>
                <tr><td>Time estimated by group:</td><td>{{ group_duration }} minutes</td></tr>
                <tr><td>Time estimated by instructor (you):</td><td>{{ instructor_duration }} minutes</td></tr>
                <tr><td>Time to be used for payment:</td>
                    <td>
                        <input type="number" min="1" max="90" style="width: 8ex;" name="payment_duration" id="payment_duration"
                               v-model.number="payment_duration"
                               v-on:change="setTimeEstimate">
                        <label for="payment_duration">minutes</label>
                    </td>
                </tr>
                <tr><td>Price per HIT (based on $6/hr):</td><td>${% vue_tag "formatPrice(price_per_hit)" %}</td></tr>
                <tr><td>Base cost for all HITs:</td><td>${%  vue_tag "formatPrice(base_hit_cost)" %}</td></tr>
                <tr><td>Amazon's cut:</td><td>{{ amazon_cut|floatformat:3 }}%</td></tr>
                <tr><td>Total cost for all HITs:</td><td v-bind:class="insufficent_class">${% vue_tag "formatPrice(total_hit_cost)" %}</td></tr>
            </tbody>
        </table>
        <p v-show="insufficient_funds" class="warn">Insufficient funds to proceed.</p>
        <p v-show="dirty_bit">Updating time on the server</p>


        {% if user.profile.can_run_experiments %}
        <a href="{% url 'run_on_mturk' experiment_id=experiment.id %}" class="button success" :disabled="run_disabled">Sign off and Run on Mechanical Turk</a>
        <a href="{% url 'run_on_sandbox' experiment_id=experiment.id %}" class="button warning">Run limited batch on Mechanical Turk Sandbox</a>
        <input type="checkbox" id="no_sandbox" v-model="allow_no_sandbox"><label for="no_sandbox">Allow signoff without sandbox</label>
        {% else %}
        <a href="{% url 'request_final_signoff' experiment_id=experiment.id %}" class="button success" :disabled="insufficient_funds">Request Final Sign off</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block site_js %}
<script type="text/javascript">
  var account_balance = {{ account_balance }};
  var payment_duration = {{ payment_duration }};
  var amazon_cut = {{ amazon_cut }};
  var participants = {{ participants }};
  var setter_url = "{% url 'set_payment_time' experiment_id=experiment.id %}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
{% if debug %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js" integrity="sha256-mbLkHeR3UG9BrG6xkSznl679LhGecGYbw0fTF5KacNg=" crossorigin="anonymous"></script>
{% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" integrity="sha256-GdIrqezgbUYuDyvVTXY2aB7O82eUby3pbR9Jb/e9ve0=" crossorigin="anonymous"></script>
{% endif %}
<script type="text/javascript"  src="{% static 'js/experiment_prerun.js' %}"></script>
{% endblock site_js %}
