{% with groups=user.course_groups.all %}
{% if groups %}
{% regroup groups by course.year as year_list %}
{% for year in year_list %}
  {% regroup year.list by course.term as term_list %}
  {% for term in term_list %}
  {% regroup term.list by course.name as course_list %}
    {% for course in course_list %}
    <h4>{{course.grouper}} - {{term.grouper}} {{year.grouper}}</h4>
      <ul>
      {% for group in course.list %}
        <li>
          <a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a>
          <a href="{% url 'request_group_leaving' group.id %}" class="button tiny alert"><i class="fa fa-times"></i>&nbsp;Leave group</a>
        </li>
      {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}
{% endfor %}
{% else %}
<p>Not a member of any groups.</p>
{% endif %}
{% endwith %}
<a href="{% url 'landing' %}" class="button success small"><i class="fa fa-plus"></i>&nbsp;Join a Group</a>
