{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{{group.course.get_absolute_url}}">{{group.course.name}} - {{group.course.term}} {{group.course.year}}</a></li>
    <li><a href="{{group.get_absolute_url}}">{{group.name}}</a></li>
    <li>Leave Group</li>
{% endblock breadcrumbs %}


{% block content %}
    <div class="grid-x">
        <div class="large-12 cell">
            <h3>Request To Leave "{{group.name}}"</h3>
            <p>Group PIN: {{ group.joining_pin }}</p>
            <form enctype="multipart/form-data" action="{% url 'request_group_leaving' group_id=group.id %}" method="post">
                {% csrf_token %}
                {{form.as_ul}}
                <input type="submit" class="button radius" value="Request To Leave Group">
            </form>
        </div>
    </div>
{% endblock content %}

