{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li>Manage course membership</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Request To Join Courses</h3>
    <form enctype="multipart/form-data" action="{% url 'manage_course_membership' %}" method="post">
      {% csrf_token %}
      {{form.as_table}}
      <input type="submit" class="button radius" value="Request To Join Course(s)">
    </form>
  </div>
</div>
{% endblock content %}
