{% with groups=user.course_groups.all %}
{% if groups %}
{% regroup groups by course.year as year_list %}
{% for year in year_list %}
{% regroup year.list by course.term as term_list %}
  {% for term in term_list %}
  {% regroup term.list by course.name as course_list %}
    {% for course in course_list %}
    <h4>{{course.grouper}} - {{term.grouper}} {{year.grouper}}</h4>
      {% for group in course.list %}
      <ul><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a>
        {% if group.project_set.all %}
        {% for project in group.project_set.all %}
        {% if project.active %}
        <li>
          <a href="{{project.get_absolute_url}}">{{project.name}}</a>
          {% if project.experiment_set.all %}
          <ul>
          {% for experiment in project.experiment_set.all %}
            <li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
        {% else %}
        <li><i class="fa fa-users"></i>&nbsp;No projects exist for {{group.name}}</li>
        {% endif %}
      </ul>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% else %}
<p>Only members of a group can have projects.</p>
    {% with courses=user.enrolled_courses.all %}
        {% if courses %}
            {% for c in courses %}
                <ul>c.name
                   {% for g in c.coursegroup_set.all %}
                       <li><a href="{% url 'request_group_membership' group_id=g.id %}">Request to join "{{ g.name }}"</a></li>
                   {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endif %}
{% endwith %}
