{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a></li>
<li>Remove members from group</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <h3>Remove members from {{group.name}}</h3>
    <form enctype="multipart/form-data" action="{% url 'remove_members_group' group_id=group.id %}" method="post">
      {% csrf_token %}
      {{form.as_table}}
      <input type="submit" class="alert button radius" value="Remove members">
    </form>
  </div>
</div>
{% endblock content %}
