{% load experiment_creator_tags %}
<div class="column">
  <div class="grid-x">
    <div class="large-3 cell">
      {{user|user_icon:icon_size}}
        {# {{user.username}} #}
    </div>
    <div class="large-9 cell">
      {{user.profile.get_list_name}} <a href="mailto:{{user.email}}"><i class="fa fa-envelope-o"></i>&nbsp;{{user.email}}</a>
    </div>
  </div>
</div>
