{% load experiment_creator_tags filer_tags %}

<p>Status: <span class="{{stimuli.status|status_class}}">{{stimuli.get_status_display}}</span></p>

{% if stimuli.folder.files %}
<p>Versions:</p>
<table>
    <thead>
    <tr><td>Filename</td><td>Upload date</td><td>Filesize</td><td>Uploaded by</td></tr>
    </thead>
    <tbody>
    {% for file in stimuli.folder.files %}
        <tr><td><a href="{{file.url}}"><i class="fa fa-{{file.file_type|file_icon}}"></i>&nbsp;{{file.name}}</a></td><td>{{file.uploaded_at|date:'r'}}</td><td>{{file.size|filesize}}</td><td>{{file.owner.get_full_name}}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% with errors=stimuli.errors %}
    <p>Your most recent stimuli upload had <span style="color: red;">{{ errors.error_count }} errors&nbsp;<i class="fa fa-times-circle" style="color: red;"></i></span>,
        <span style="color: orange;">{{ errors.warning_count }} warnings&nbsp;<i class="fa fa-exclamation-triangle" style="color: orange"></i></span>,
        and <span style="color: green;">{{ errors.pass_count }} passed&nbsp;<i class="fa fa-check-square" style="color: green;"></i></span>
        tests out of a total of {{ errors.test_count }} tests.</p>
    <p>All errors must be fixed before requesting approval. Contact a member of the teaching staff about warnings.</p>
    <ul class="fa-ul">
        {% for test_fail in errors.errors %}
            <li><i class="fa-li fa fa-times-circle" style="color: red;"></i>{{ test_fail.test }}
                <dl>
                    <dt>Message</dt><dd>{{ test_fail.message }}</dd>
                    {% if test_fail.problems %}
                        <dt>Problems</dt>
                        {% for problem in test_fail.problems %}
                            {# FIXME: display this better #}
                            <dd>{{ problem }}</dd>
                        {% endfor %}
                    {% endif %}
                </dl>
            </li>
        {% endfor %}
    </ul>
    <ul class="fa-ul">
    {% for test_warn in errors.warnings %}
    <li><i class="fa-li fa fa-exclamation-triangle" style="color: orange"></i>{{ test_warn.test }}
        <dl>
            <dt>Message</dt><dd>{{ test_warn.message }}</dd>
            {% if test_warn.problems %}
                <dt>Problems</dt>
                {% for problem in test_warn.problems %}
                    <dd>{{ problem }}</dd>
{#                <dd><ul>#}
{#                    {% for k,v in problem.items %}#}
{#                        <li>{{ k }}: {{ v }}</li>#}
{#                    {% endfor %}#}
{#                </ul></dd>#}
                {% endfor %}
            {% endif %}
        </dl>
    </li>
    {% endfor %}
    </ul>
    <ul class="fa-ul">
        {% for test_pass in errors.passes %}
            <li><i class="fa-li fa fa-check-square" style="color: green;"></i>{{ test_pass.test }}</li>
        {% endfor %}
    </ul>
{% endwith %}
<a class="button tiny radius" href="{% url 'preview_stimuli' stimuli_id=stimuli.id %}">Preview Stimuli</a>
