{% load experiment_creator_tags %}

<h5>Experiment Name: {{design.design.exname}}</h5>
<p>Status: <span class="{{design.status|status_class}}">{{design.get_status_display}}</span></p>
<h4>Proposal</h4>
<div id="design_proposal" style="overflow:scroll; height:350px; background-color: #eeeeee; padding: 1em;">
  {{design.proposal|safe}}
</div>
<hr/>
<h4>Design Specification</h4>
<ul>
<li>Critical Items: {{design.design.trialcount}}</li>
<li>Filler Items: {{design.design.fillercount}}</li>
<li>Participants: {{design.design.participants}}</li>
</ul>
<ul>
<p>Manipulations and levels ({{design.get_level_count}}):</p>
{% for manip in design.design.manipulations %}
  <li>Manipulation {{forloop.counter}}: {{manip.name}}
    {% if manip.items|length > 0 %}
    <ul>
      {% for item in manip.items %}
      <li>Level {{forloop.counter}}: {{item}}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="revision">No levels for manipulation {{forloop.counter}}!</p>
    {% endif %}
  </li>
{% endfor %}
</ul>
