<p>Go through each list of the experiment. Make sure:</p>
<ul class="fa-ul">
    <li><input type="checkbox" v-model="boxes.display_correctly" id="display_correctly"><label for="display_correctly">Every sentence displays correctly</label></li>
    <li><input type="checkbox" v-model="boxes.no_typos" id="no_typos"><label for="no_typos">There are no typos</label></li>
    <li><input type="checkbox" v-model="boxes.no_grammatical" id="no_grammatical"><label for="no_grammatical">There are no grammatical errors</label></li>
    <li><input type="checkbox" v-model="boxes.questions_display" id="questions_display"><label for="questions_display">Every question displays correctly</label></li>
    <li><input type="checkbox" v-model="boxes.questions_correct" id="questions_correct"><label for="questions_correct">The answer to every question is correct (feedback is provided on incorrect answers)</label></li>
    <li><input type="checkbox" v-model="boxes.no_line_breaks" id="no_line_breaks"><label for="no_line_breaks">There are no line breaks right before or after critical regions</label></li>
    <li><input type="checkbox" v-model="boxes.runs_to_end" id="runs_to_end"><label for="runs_to_end">The experiment runs to the end</label></li>
    <li><input type="checkbox" v-model="boxes.did_demo" id="did_demo"><label for="did_demo">For at least one list, do the experiment like you are a participant. Read all instructions.
        Note the time it takes to get from intro screen to submit (round up when in doubt). There is a timer on the demo page to help. {% if user.is_staff %}
        Start with an estimate based on number of items. 60 items takes, on average, 30 minutes.{% endif %}</label>
    </li>
</ul>
<hr/>
<ul class="inline-list fa-ul">
    {% for lst in experiment.lists.all %}
    <li><i class="fa-li fa fa-arrow-right"></i><a href="{% url 'spr_demo' experiment=experiment.name listid=lst.name %}" target="_blank">{{lst.name}}</a></li>
    {% endfor %}
</ul>
