{% extends "experiment_creator/base.html" %}
{% load filer_tags comments comments_xtd experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="current">Review Proposal</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    <p>Group: {{stimuli.group.course.term}} {{stimuli.group.course.year}} - {{stimuli.group.name}}</p>
    <p>Experiment: {{stimuli.group.name}}</p>
    <p>Status: <span class="{{stimuli.status|status_class}}">{{stimuli.get_status_display}}</span></p>
    <p>Stimuli Drafts: {{stimuli_folder.file_count}}</p>
    <table>
      <thead>
        <tr><td>Filname</td><td>Upload date</td><td>Filesize</td><td>Uploaded by</td></tr>
      </thead>
      <tbody>
      {% for file in stimuli_folder.files %}
      <tr><td><a href="{{file.url}}">{{file.name}}</a></td><td>{{file.uploaded_at|date:'r'}}</td><td>{{file.size|filesize}}</td><td>{{file.owner.get_full_name}}</td></tr>
      {% endfor %}
      </tbody>
    </table>

    {% with errors=stimuli.errors.errors warnings=stimuli.errors.warnings %}

    {% if errors %}
    <p class="revision">The most recent stimuli upload has {{errors|length}} errors!</p>
    <ol class="stimerrors">
      {% for error in errors %}
      <li>
        <ul>
          <li>Category: {{error.category}}</li>
          <li>Message: {{error.message}}</li>
          {% if error.problems %}
          <li>Problems:
            <ul>
              {% for problem, problist in error.problems.items %}
              <li>{{problem}}: {{problist}}</li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <p>No errors in stimulus file</p>
    {% endif %}

    {% if warnings %}
    <p class="revision">The most recent stimuli upload has {{warnings|length}} warnings!</p>
    <ol class="stimerrors">
    {% for warning in warnings %}
    <li>
      <ul>
        <li>Category: {{warning.category}}</li>
        <li>Message: {{warning.message}}</li>
        {% if warning.problems %}
        <li>Problems:
          <ul>
            {% for problem, problist in warning.problems.items %}
            <li>{{problem}}: {{problist}}</li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </li>
    {% endfor %}
    </ol>
    {% else %}
    <p>No warnings in stimulus file</p>
    {% endif %}

    {% endwith %}


    <h3>Feedback</h3>
    {% if stimuli %}
    {% get_comment_count for stimuli as comment_count %}
    <p>{{comment_count}} comment{{comment_count|pluralize}} <a href="{% url 'stimuli_feedback' target_id=stimuli.id %}"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Add feedback</a></p>
    <ul class="media-list">
        {% render_xtdcomment_tree for stimuli allow_flagging %}
    </ul>
    {% else %}
    <p>0 comments</p>
    {% endif %}

    <a href="{% url 'admin_dashboard' %}" class="button back tiny radius">Back to Admin Dashboard</a>
    {% if stimuli.status == 'APP' %}
    <a href="{% url 'reject_stimuli' target_id=stimuli.id %}" class="button alert tiny radius">Withdraw Approval</a>
    {% else %}
    <a href="{% url 'approve_stimuli' target_id=stimuli.id %}" class="button success tiny radius">Approve</a>
    {% endif %}
    <a href="{% url 'revision_stimuli' target_id=stimuli.id %}" class="button alert tiny radius">Request Revision</a>
  </div>
</div>
{% endblock content %}
