{% extends "experiment_creator/base.html" %}
{% load activity_tags comments comments_xtd experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% with course=object.group.course %}
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
{% endwith %}
<li><a href="{{object.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{object.group.name}}</a></li>
<li><a href="{{object.experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{object.experiment.name}}</a></li>
<li class="current">Design Proposal</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
    {% render_proposal object %}
    <hr/>
  </div>
</div>

<div class="grid-x">
  <div class="large-6 cell">
    <h4>Feedback</h4>
    {% get_comment_count for object as design_comment_count %}
    <p>{{design_comment_count}} comment{{design_comment_count|pluralize}} <a href="{% url 'design_feedback' target_id=object.id %}"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Add feedback</a></p>
    <ul class="media-list">
      {% render_xtdcomment_tree for object allow_flagging %}
    </ul>
  </div>
  <div class="large-6 cell">
    <h4>History</h4>
    <ul>
      {% activity_stream 'any' object %}
      {% for action in stream %}
          <li>{% display_action action %}</li>
      {% endfor %}

      {% comment %}
      {% for action in object.action_object_actions.all|slice:":5" %}
        <li>{% display_action action %}</li>
      {% endfor %}
      {% endcomment %}
    </ul>
  </div>
</div>

{% endblock %}
