{% extends "experiment_creator/base.html" %}
{% load activity_tags comments comments_xtd experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li class="current"><i class="fa fa-user"></i>&nbsp;{{user.profile.get_display_name}} </a></li>
{% endblock %}


{% block content %}
<div class="grid-x">
  <div class="large-6 cell">
    <h4>User</h4>
    {% render_user user 75 %}
    <ul style="list-style: none">
      <li>Is staff?: {% if user.is_staff %}
                        <i class="fa fa-check-square-o" aria-hidden="true" style="color:green;"></i>
                        {% else %}
                        <i class="fa fa-times-circle-o" aria-hidden="true" style="color:red;"></i>
                        {% endif %}</li>
      <li>Can run experiments on MTurk?: {% if user.profile.can_run_experiments %}
                                            <i class="fa fa-check-square-o" aria-hidden="true" style="color:green;"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle-o" aria-hidden="true" style="color:red;"></i>
                                            {% endif %}</li>
    </ul>
  </div>
  <div class="large-6 cell">
    <h4>Activity</h4>
    <ul>
      {% activity_stream 'any' user %}
      {% for action in stream %}
          <li>{% display_action action %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<hr/>
<div class="grid-x">
  <div class="large-6 cell">
    <h4>Groups</h4>
    {% groups_for_user user %}
  </div>
  <div class="large-6 cell">
    <h4>Current Projects</h4>
    {% projects_for_user user %}
  </div>
</div>
{% endblock %}
