{% extends "experiment_creator/base.html" %}
{% load account %}

{% block breadcrumbs %}
<li class="current">Landing</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="grid-x">
  <div class="large-12 cell">
  {% if user.is_authenticated %}
  <p>Hi {% user_display user %}! Welcome to CrowdExp.</p>
    {% if managed_courses %}
    <h3>Managed Courses</h3>
    You're an instructor for:
    <ul>
      {%for c in managed_courses %}
      <li><a href="{{c.get_absolute_url}}">{{c.name}} ({{c.term}} {{c.year}})</a></li>
      {% endfor %}
    </ul>
    <a class="button" href="{% url 'manage_courses' %}">Manage Courses</a>
    <hr/>
    {% endif %}
  {% endif %}

  {% if user_courses %}
  You're a student in:
  <ul>
    {% regroup user_courses by year as year_list %}
    {% for year in year_list %}
      {% regroup year.list by term as term_list %}
      {% for term in term_list %}
        <ul><h5>{{term.grouper}} {{year.grouper}}</h5>
        {% for c in term.list %}
        <li>
          <i class="fa fa-university"></i>&nbsp;<a href="{% url 'course_dash' year=c.year term=c.term slug=c.slug %}">{{c.name}}</a>
          <div class="grid-x small-up-1 medium-up-3 large-up-4">
            {% for group in c.coursegroup_set.all %}
            {% if group not in user_groups %}
            <div class="cell">
              <a href="{% url 'request_group_membership' group_id=group.id %}" class="button secondary"><i class="fa fa-users"></i>&nbsp;Join "{{group.name}}"</a>
              <ul>Members:
                {% for m in group.get_members|dictsort:"last_name" %}
                <li><i class="fa fa-user"></i>&nbsp;{{m.profile.get_list_name}}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% endfor %}
            <div class="cell">
              <a class="button radius success" href="{% url 'create_group' year=c.year term=c.term course_slug=c.slug %}"><i class="fa fa-plus"></i>&nbsp;Create A New Group</a>
            </div>
          </div>
        </li>
        </ul>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>

    {% if user_groups %}
    You're a member of:
    <ul>
      {% for g in user_groups %}
      <li>
        <a href="{{g.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{g.name}}</a>
        <ul>
          {% for m in g.get_members|dictsort:"last_name" %}
          <li><i class="fa fa-user"></i>&nbsp;{{m.profile.get_list_name}}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% else%}
    You're not assigned to any groups yet.
    {% endif %}

  {% else %}
  You're not a student in any classes yet
  {% endif %}

  {% if not user.socialaccount_set.all and not user.is_staff %}
    <p>We ask that all students sign in with their University of Rochester GMail accounts.
    If you are enrolled in a class, please <a href="{% url 'account_logout' %}">sign out</a> and sign in again with your university account.</p>
  {% else %}
    {% if available_courses %}
    <p>Select which courses you are student in</p>
    <ul>
    {% for c in available_courses %}
    {% comment %}
      TODO:
       - either make these form items or toggle buttons
       - automatically check/toggle any courses user is known to be in
       - use AJAX loading to load groups for each class
       - give them option to join or create a group
       - list instructors for each course?
    {% endcomment %}
    <li><a href="{% url 'join_course' course_id=c.id %}" class="button"><i class="fa fa-university"></i>&nbsp;{{c.name}} ({{c.term}} {{c.year}})</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
  </div>
</div>
{% endblock content %}
