{% extends "experiment_creator/base.html" %}
{% load i18n %}

{% block title %}{% trans "Remove a comment" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>{% trans "Really remove this comment?" %}</h1>
    <blockquote>{{ comment|linebreaks }}</blockquote>
    <form action="." method="post">{% csrf_token %}
      {% if next %}
        <div><input type="hidden" name="next" value="{{ next }}" id="next"/></div>{% endif %}
      <p class="submit">
        <input class="button alert" type="submit" name="submit" value="{% trans "Remove" %}"/> or <a class="button secondary small" href="{{ comment.get_absolute_url }}">cancel</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
