{% comment %}
  This template replaces the default "comments/list.html" of "django.contrib.comments",
  to allow rendering the comments as tree.
{% endcomment %}
{% load threadedcomments_tags %}
<div id="comments">
    {% for comment in comment_list|fill_tree|annotate_tree %}
        {% if comment.open %}
            <ul>
        {% else %}
            </li>
        {% endif %}
        <li id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
            <dl class="comment">
                <dt>
                    <img src="{{comment.user.profile.profile_image_url}}" width="40px" height="40px" style="border-radius: 5px;"/>&nbsp;{{ comment.name }}{% if comment.user.is_staff %}&nbsp;<i class="fa fa-check-square-o" aria-hidden="true" style="color:green;"></i>{% endif %}<span style="color: darkgray">&#8226; {{comment.submit_date}}</span>
                </dt>
                <dd>
                    {{ comment.comment|linebreaks }}
                    <a href="#" class="button tiny radius">Reply</a>
                    {#  {% render_comment_form for [app].[model] [id] %} #}
                </dd>
            </dl>
            {% for close in comment.close %}</li></ul>{% endfor %}
    {% endfor %}
</div>
