{% extends "experiment_creator/base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
  {% load comments %}
<div class="row">
  <div class="large-12 columns">
      <form action="{% comment_form_target %}" method="post">{% csrf_token %}
        {% if next %}
          <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
        {% if form.errors %}
          <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
        {% else %}
          <h1>{% trans "Preview your comment" %}</h1>
          <blockquote>{{ comment|linebreaks }}</blockquote>
          <p>
            {% trans "and" %} <input type="submit" name="submit" class="success button" value="{% trans "Post your comment" %}"
                                     id="submit"/> {% trans "or make changes" %}:
          </p>
        {% endif %}
        {% for field in form %}
          {% if field.is_hidden %}
            <div>{{ field }}</div>
          {% else %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            <p
                    {% if field.errors %} class="error"{% endif %}
                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
                    {% if user.is_authenticated %}
                      {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
                      {% ifequal field.name "email" %} style="display:none;"{% endifequal %}
                      {% ifequal field.name "url" %} style="display:none;"{% endifequal %}
                    {% endif %}
            >
              {{ field.label_tag }} {{ field }}
            </p>
          {% endif %}
        {% endfor %}
        <p class="submit">
          <input type="submit" name="submit" class="success button" value="{% trans "Post" %}"/>
          <input type="submit" name="preview" class="button" value="{% trans "Preview" %}"/>
        </p>
      </form>
    </div>
</div>
{% endblock %}
