{% extends "experiment_runner/base.html" %}
{% block title %}Form data{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.8/css/theme.default.min.css" integrity="sha256-kZJ4kB78IbXuxMtCpmaXzii8vxEKtu8pjicH62E0/qM=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
    <table id="formdata">
        <thead>
            <tr><td>Key</td><td>Value</td></tr>
        </thead>
        <tbody>
            {% for k,v in formdata.items %}
            <tr><td>{{k}}</td><td>{{v}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.8/js/jquery.tablesorter.min.js" integrity="sha256-FWzPf4q+jAyJR1uNC39T0yN+631dHbauzXgj6RD9CiI=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() { $("#formdata").tablesorter({initWidgets: true, widgets: ['zebra']}); });
    </script>
{% endblock %}
