button.destroy, button.destroy:hover, button.destroy:active, button.destroy:focus {
  border: none;
  background: none;
  margin: 0;
}

button[type='submit'] {
  margin-top: 2ex;
}

header {
  padding: 0;
  margin: 0;
}

.new-factor,
.edit {
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  outline: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.new-factor {
  padding: 16px 16px 16px 60px;
  border: 1px dotted #ddd;
}

.edit {
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.factor-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  /*font-size: 24px; */
  border-bottom: 1px dotted #ccc;
  margin: 0;
}

.view {
  padding: 0 40px;
}

.item:last-child {
  border-bottom: none;
}

.item.editing {
  border-bottom: none;
  padding: 0;
}

.item.editing .edit {
  display: block;
  width: 100%;
  padding: 13px 17px 12px 61px;
  margin: 0;
}

.item.editing .view {
  display: none;
}

.item label {
  word-break: break-word;
  padding: 15px;
  margin-left: 5px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.item .destroy {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  font-size: 22px;
  color: rgb(180,0,0);
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.item .destroy:hover {
  opacity: 1;
}

.item .destroy:after {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: '\274C';
  line-height: 1;
}

.item:hover .destroy {
  display: block;
}

.item.editing:last-child {
  margin-bottom: -1px;
}

.levels {
  margin-left: 3rem;
}

.levels p {
  font-size: small;
}

h4 {
    position: relative;
    right: 3rem;
}

.footer {
  position: relative;
  height: 1.3em;
  color: #777;
  z-index: 1;
  text-align: center;
  background: #f9f9f9;
  padding: 0.5em;
  border-top: 1px dotted #adadad;
}

.level-count {
  float: left;
  text-align: left;
}

li.selected {
  font-weight: bold;
}

#ajaxalert {
  display: none;
}
