/*
Progress Tracker v2
https://jsfiddle.net/aLwgrym8/
*/

ol.step_progress[data-steps="2"] li { width: 49%; }
ol.step_progress[data-steps="3"] li { width: 33%; }
ol.step_progress[data-steps="4"] li { width: 24%; }
ol.step_progress[data-steps="5"] li { width: 19%; }
ol.step_progress[data-steps="6"] li { width: 16%; }
ol.step_progress[data-steps="7"] li { width: 14%; }
ol.step_progress[data-steps="8"] li { width: 12%; }
ol.step_progress[data-steps="9"] li { width: 11%; }

.step_progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
}

.step_progress li {
    float: left;
    text-align: center;
    position: relative;
}

.step_progress .name {
    display: block;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 1em;
    color: black;
    opacity: 0.3;
}

/*.step_progress .step {*/
    /*color: black;*/
    /*border: 3px solid silver;*/
    /*background-color: silver;*/
    /*border-radius: 50%;*/
/*}*/

.step_progress .step span {
    opacity: 0.3;
}

.step_progress .active .name,
.step_progress .active .step span {
    opacity: 1;
}

.step_progress .step:before {
    content: "";
    display: block;
    background-color: silver;
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 0.6em;
    left: 0;
    z-index: -1;
}

.step_progress .step:after {
    content: "";
    display: block;
    background-color: silver;
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 0.6em;
    right: 0;
    z-index: -1;
}

.step_progress li:first-of-type .step:before {
    display: none;
}

.step_progress li:last-of-type .step:after {
    display: none;
}

/*.step_progress .done .step,*/
/*.step_progress .done .step:before,*/
/*.step_progress .done .step:after,*/
/*.step_progress .active .step,*/
/*.step_progress .active .step:before {*/
    /*background-color: yellowgreen;*/
/*}*/

/*.step_progress .done .step,*/
/*.step_progress .active .step {*/
    /*border: 3px solid yellowgreen;*/
/*}*/
