{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<p>If you are a student in BCS 152, please:</p>
<p><a class="button large radius" style="background-color: #4885ed" href="{% provider_login_url 'google' process='login' %}"><i class="fa fa-google" style="font-size: 3em; color:#db3236;"></i>&nbsp;Sign in with your University of Rochester Google account&nbsp;<i class="fa fa-sign-in"></i></a></p>

{% comment %}
<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>
{% endcomment %}

<p>{% blocktrans with site.name as site_name %}Otherwise, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button small alert radius secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="button radius primaryAction" type="submit">{% trans "Sign In" %}&nbsp;<i class="fa fa-sign-in"></i></button>
</form>

{% endblock %}
