{% load staticfiles %}
{% load experiment_creator_tags %}
{# this version of base.html just exists to override allauth's #}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    {% block site_css %}{% endblock site_css %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      {% if messages %}
      <div class="grid-x">
        <div class="messages large-6 cell end">
          {% for msg in messages %}
            <div class="{{msg.level_tag|alert_level}} callout small" data-closable>
              <p><i class="fa fa-{{msg.level_tag|icon_level}}" style="font-size:x-large;"></i>&nbsp;{{msg.message}}</p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="grid-x">
        <div class="large-2 cell end">
          <img src="{% static "UR.v2.svg" %}" width="123" height="100" alt="University of Rochester"/>
        </div>
      </div>
    </header>
    <div class="grid-x">
      <div class="large-12 cell">
        {% block content %} {% endblock content %}
      </div>
    </div>
    <footer>
      <div class="grid-x">
        <div class="large-8 cell large-centered">
          <p>Copyright © 2015-2016 University of Rochester - Brain and Cognitive Sciences Department</p>
          <p>Experiencing technical problems? Contact us: <a href="mailto:{{ADMIN_CONTACT_EMAIL.email}}">{{ADMIN_CONTACT_EMAIL.name}}</a></p>
      </div>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.3/what-input.min.js" integrity="sha256-yYpZnv9m2EQxm8z6/mQAmY941wpZ0xO2F5AfmSpusMY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk=" crossorigin="anonymous"></script>
    <script type="text/javascript">$(document).foundation();</script>
    {% block site_js %}{% endblock site_js %}
  </body>
</html>
